{% extends "layout.html" %}
{% block body %}
    <h2>Registracija</h2>
    {% if error %}
        <p class="error"><strong>Klaida:</strong> {{ error }}</p>
    {% endif %}
    {% if img %}
        <p>Registracija sėkminga, naudokite šį paveiksliuką prisijungimui</p>
        <img src="data:image/jpg;base64, {{ img }}" />
    {% else %}
        <form action="{{ url_for("register") }}" method="post">
            <dl>
                <dt>Vardas:</dt>
                <dd><input type="text" name="username"></dd>
                <dd><input type="submit" value="Registruotis"></dd>
            </dl>
        </form>
    {% endif %}
{% endblock %}